<div class="row">
    <%= render 'books/list', {book: @book_new, user: @user} %>
    
<div class="col-md-8 offset-md-1">
    <h2>Books</h2>
     <table class="table table-hover table-inverse">
    <thread>
        <tr>
          <th>Title</th>
          <th>Opinion</th>
          <th colspan="3"></th>
        </tr>
    </thread>
    
    <tbody> 
      <td><%= image_tag @user.get_profile_image %></td>
      <% @books.each do |book| %>
      <td><%= link_to book.book_title, book_path(book) %></td>
      <td><%= book.book_review %></td>
      <!--<td><%= book.user.name %></td>-->
      <% end %>
    </tbody>
     
</div>

